
<!-- Bootstrap core CSS -->
<link href="https://cdn.bootcss.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<!-- Custom styles for this template -->
<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/2.0.1/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gritter@1.7.4/css/jquery.gritter.min.css">
<link href="https://cdn.bootcss.com/select2/3.4.5/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sunyuting83/fashion-python27@master/static/admin/css/style.css">
<link href="https://cdn.bootcss.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sunyuting83/fashion-python27@master/static/admin/css/pygments.css">
<link href="https://cdn.staticfile.org/iCheck/1.0.1/skins/square/blue.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.staticfile.org/jquery.nanoscroller/0.7.4/nanoscroller.min.css">