
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{url_for('static',filename='admin/js/bootstrap/dist/css/bootstrap.min.css')}}">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->
<!-- Custom styles for this template -->
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='admin/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='admin/js/jquery.gritter/css/jquery.gritter.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='admin/js/jquery.select2/select2.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='admin/css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='admin/fonts/font-awesome-4/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='admin/css/pygments.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='admin/js/jquery.icheck/skins/square/blue.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='admin/js/jquery.nanoscroller/nanoscroller.css')}}">