{% if current_user.group.power <= 1  %}
{% extends "base.html" %}
    {% block content %}
        {% if this == 'edit' %}
        <div class="container-fluid" id="pcont">
            <div class="page-head">
                <h2>管理员管理</h2>
                <ol class="breadcrumb">
                    <li><a href="#">系统管理</a></li>
                    <li>管理员管理</li>
                    <li class="active">修改用户</li>
                </ol>
            </div>
            <div class="cl-mcont">

            <div class="col-sm-12 col-md-12">
                <div class="block-flat">
                    <div class="pull-right">
                        <a href="/manage/manage_user" type="button" class="btn btn-success"><i class="fa fa-reply"></i> 取消返回</a>
                    </div>
                    <div class="header">
                        <h3>修改用户</h3>
                    </div>
                    <div class="content">
                        <form class="form-horizontal group-border-dashed" action="/manage/edit_admin" method="post" name="edit_admin" style="border-radius: 0px;">
                            {{ form.hidden_tag() }}
                            {% if current_user.group.power == 0  %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属组</label>
                                <div class="col-sm-6">
                                    {{ form.teams }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名称</label>
                                <div class="col-sm-6">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码</label>
                                <div class="col-sm-6">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="form-group" style="position: relative;">
                                <label class="col-sm-3 control-label">重复密码</label>
                                <div class="col-sm-6">
                                    {{ form.repassword }}
                                </div>
                                <div name="repassword-tip" class="popover fade right in" style="top: -12px; left: 549px; display: none;">
                                    <div class="arrow" style="top: 41.1765%;"></div>
                                    <h3 class="popover-title">密码错误</h3>
                                    <div class="popover-content">请保证两次输入的密码一样。</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态</label>
                                <div class="col-sm-6">
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职责</label>
                                <div class="col-sm-6">
                                    {{ form.purview }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户组</label>
                                <div class="col-sm-6">
                                    {{ form.group_id }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职位</label>
                                <div class="col-sm-6">
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人</label>
                                <div class="col-sm-6">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">电话</label>
                                <div class="col-sm-6">
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">邮箱</label>
                                <div class="col-sm-6">
                                    {{ form.mail }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">微信</label>
                                <div class="col-sm-6">
                                    {{ form.wechat }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    {{ form.submit }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul name="messages" style="display: none">
                    {% for message in messages %}
                    <li data-message="{{ message }}"></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                    
            </div>
            

        </div>
    </div>
    {% else %}
    <div class="container-fluid" id="pcont">
            <div class="page-head">
                <h2>管理员管理</h2>
                <ol class="breadcrumb">
                    <li><a href="#">系统管理</a></li>
                    <li>管理员管理</li>
                    <li class="active">添加用户</li>
                </ol>
            </div>
            <div class="cl-mcont">

            <div class="col-sm-12 col-md-12">
                <div class="block-flat">
                    <div class="pull-right">
                        <a href="/manage/manage_user" type="button" class="btn btn-success"><i class="fa fa-reply"></i> 取消返回</a>
                    </div>
                    <div class="header">
                        <h3>添加用户</h3>
                    </div>
                    <div class="content">
                        <form class="form-horizontal group-border-dashed" action="/manage/add_admin" method="post" name="add_admin" style="border-radius: 0px;">
                            {{ form.hidden_tag() }}
                            {% if current_user.group.power == 0  %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">管理员类型</label>
                                <div class="col-sm-6">
                                    <label class="radio-inline"> <input type="radio" checked name="rad1" class="icheck" value="0"> 普通管理员</label> 
                                    <label class="radio-inline"> <input type="radio" name="rad1" class="icheck" value="1"> 超级管理员</label> 
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">所属组</label>
                                <div class="col-sm-6">
                                    {{ form.teams }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名称</label>
                                <div class="col-sm-6">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码</label>
                                <div class="col-sm-6">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="form-group" style="position: relative;">
                                <label class="col-sm-3 control-label">重复密码</label>
                                <div class="col-sm-6">
                                    {{ form.repassword }}
                                </div>
                                <div name="repassword-tip" class="popover fade right in" style="top: -12px; left: 549px; display: none;">
                                    <div class="arrow" style="top: 41.1765%;"></div>
                                    <h3 class="popover-title">密码错误</h3>
                                    <div class="popover-content">请保证两次输入的密码一样。</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态</label>
                                <div class="col-sm-6">
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职责</label>
                                <div class="col-sm-6">
                                    {{ form.purview }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户组</label>
                                <div class="col-sm-6">
                                    {{ form.group_id }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职位</label>
                                <div class="col-sm-6">
                                    {{ form.title }}
                                    {% for error in form.errors.title %}
                                        <p style="color:red;">[-] {{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人</label>
                                <div class="col-sm-6">
                                    {{ form.name }}
                                    {% for error in form.errors.name %}
                                        <p style="color:red;">[-] {{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">电话</label>
                                <div class="col-sm-6">
                                    {{ form.phone }}
                                    {% for error in form.errors.phone %}
                                        <p style="color:red;">[-] {{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">邮箱</label>
                                <div class="col-sm-6">
                                    {{ form.mail }}
                                    {% for error in form.errors.mail %}
                                        <p style="color:red;">[-] {{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">微信</label>
                                <div class="col-sm-6">
                                    {{ form.wechat }}
                                    {% for error in form.errors.wechat %}
                                        <p style="color:red;">[-] {{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    {{ form.submit }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul name="messages" style="display: none">
                    {% for message in messages %}
                    <li data-message="{{ message }}"></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                    
            </div>
            

        </div>
    </div>
    {% endif %}

    {% endblock %}
    {% block js %}
    <script type="text/javascript">
        var massage = $('[name="messages"]').children('li').data('message');
        if(massage){
            $.gritter.add({
                title: '修改成功',
                text: massage,
                class_name: 'success'
            });
            $(function () {
                setTimeout(ChangeTime, 1000);
            });
            
        }else if(massage == null){

        }
        function ChangeTime() {
            var time;
            time = $("#time").text();
            time = parseInt(time);
            time--;
            if (time <= 0) {
                window.location.href = "/manage/manage_user";
            } else { 
                $("#time").text(time); 
                setTimeout(ChangeTime, 1000); 
            } 
        };
        function KeyUp() {
            var a = $('[name="password"]').val();
            var b = $('[name="repassword"]').val();
            if (a == b) {
                $('[name="submit"]').removeAttr('disabled');
                $('[name="repassword-tip"]').hide();
            }
            else {
                $('[name="submit"]').attr('disabled', 'disabled');
                $('[name="repassword-tip"]').show();
            }
        }

        // 组ID获得并赋值
        var team = $('#teamid')
        if(team.length>=0){
            {% if current_user.group_id == 1 %}
            team.val("");
            {% else %}
            team.val("{{current_user.teamid}}");
            {% endif %}
        };
        // 手机号之可以输入数字
        $("#phone").onlyNum();

        $('input[name="rad1"]').each(function(index, el) {
            var _this = $(this);
            _this.on('ifClicked',  function(event) {
                console.log('1');
            });
        });

        // 判断删除组选择节点
        {% if current_user.group.power > 0  %}
            var teams = '<input type="hidden" id="teams" name="teams" value="{{current_user.teamid}}" >'
            $('#teams').parent('.col-sm-6').html(teams);
            $('#teams').parents('.form-group').hide();
        {% endif %}
    </script>
    {% endblock %}
{% endif %}

