<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/jquery.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/jquery.gritter/js/jquery.gritter.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/jquery.nanoscroller/jquery.nanoscroller.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/behaviour/general.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/jquery.ui/jquery-ui.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/jquery.select2/select2.min.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/jquery.icheck/icheck.min.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='admin/js/layer/layer.js')}}"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/onlynum.js')}}?v=1.0"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/change.js')}}?v=2.1.1"></script>