<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.jsdelivr.net/npm/gritter@1.7.4/js/jquery.gritter.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.staticfile.org/jquery.nanoscroller/0.7.4/jquery.nanoscroller.min.js
"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/behaviour/general.js')}}"></script>
<script src="https://cdn.bootcss.com/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.bootcss.com/select2/3.4.5/select2.min.js"></script>
<script src="https://cdn.bootcss.com/iCheck/1.0.1/icheck.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/2.0.1/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/onlynum.js')}}?v=1.0"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static',filename='admin/js/change.js')}}?v=2.1.1"></script>